<h3>Hola <%=@order.first_name%>!</h3>


Tu número de orden es:  #<%=@order.number%>

La orden ha sido acceptada y el precio a debitar es <%=number_to_currency @order.total%> .

Muchas Gracias,

<%=Shoppe.settings.store_name%>
<%=Shoppe.settings.email_address%>
