Hello <%=@order.first_name%>!

Re: Order #<%=@order.number%>

Unfortunately, this attached order was rejected. This is most likely due to our over-zealous fraud system so if you wish to continue with this order, please drop us an email or give us a call.

Many thanks,

<%=Shoppe.settings.store_name%>
<%=Shoppe.settings.email_address%>

<head>

<style type="text/css">
	html, body{ margin-top: 0px !important; padding-top: 0px !important; }
	body{ background-color:#FFFFFF; margin-top: 0px !important; padding-top: 0px !important; font-family:sans-serif; }
	table{ margin-top: 0px !important; padding-top: 0px !important; }
</style>


<style type="text/css">
		a img{ color:#000001 !important; }

.wysiwyg-text-align-right{ text-align: right; }
.wysiwyg-text-align-center { text-align: center; }
.wysiwyg-text-align-left{ text-align: left; }
.wysiwyg-text-align-justify{ text-align: justify; }

body{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#434C4F!important; font-style:normal; font-family:Arial; font-size:11px; line-height:20px; }

h1, #email-353622 h1{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#272727!important; font-weight:700; font-style:normal; font-family:Arial; font-size:36px; line-height:44px; }

h2, #email-353622 h2{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#000000!important; font-weight:400; font-style:normal; font-family:Arial; font-size:24px; line-height:32px; }

h3, #email-353622 h3{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#000000!important; font-weight:400; font-style:normal; font-family:Arial; font-size:15px; line-height:21px; }

p, #email-353622 p{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#434C4F!important; font-style:normal; font-family:Arial; font-size:11px; line-height:20px; }

a, #email-353622 a{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#F04500!important; text-decoration:initial; }

p.etxto-peque, #email-353622 p.etxto-peque{ text-shadow:none; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0; color:#748184!important; font-family:sans-serif; font-size:10px; line-height:13px; }


.h1_color_span_wrapper{ color: #272727; }
.h2_color_span_wrapper{ color: #000000; }
.h3_color_span_wrapper{ color: #000000; }
.p_color_span_wrapper{ color: #434C4F; }
.a_color_span_wrapper{ color: #F04500; }
.etxto-peque_color_span_wrapper{ color: #748184; }


		.mi-all{ display: block; }
		.mi-desktop{ display: block; }

	.mi-mobile{
		display: none;
		font-size: 0; 
		max-height: 0; 
		line-height: 0; 
		padding: 0;
		float: left;
		overflow: hidden;
		mso-hide: all; /* hide elements in Outlook 2007-2013 */
	}

		.preheader { display: none !important; }

</style>

<style type="text/css" >

	div, p, a, li, td { -webkit-text-size-adjust:none; }
	
	@media only screen and (max-device-width: 480px), screen and (max-width: 480px), screen and (orientation: landscape) and (max-width: 630px) {
		
		/* very important! all except 'all' and this current type get a display:none; */
		.mi-desktop{ display: none !important; }

		/* then show the mobile one */
		.mi-mobile{ 
			display: block !important;
			font-size: 12px !important;
			max-height: none !important;
			line-height: 1.5 !important;
			float: none !important;
			overflow: visible !important;
		}
	}

</style>

	
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>Soul Cookies - pedidos</title>
</head><body id="email-353622" style="background: #FFFFFF; color: #434C4F !important; font-family: Arial; font-size: 11px; font-style: normal; line-height: 20px; margin: 0px 0 0 0px; padding: 0px 0 0; text-shadow: none" bgcolor="#FFFFFF"><style type="text/css">
body {
margin-top: 0px !important; padding-top: 0px !important;
}
body {
background-color: #FFFFFF; margin-top: 0px !important; padding-top: 0px !important; font-family: sans-serif;
}
body {
text-shadow: none; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; color: #434C4F !important; font-style: normal; font-family: Arial; font-size: 11px; line-height: 20px;
}
</style><span class="preheader" style="display: none !important">¡Gracias por ordenar a Soul Cookies!</span><img src="http://t.inkbrush.com/p/cp/28e1ef0765a855a5/o.gif" width="1" height="1" /><div class="mi-desktop" style="display: block">
	<table width="100%" cellspacing="0" cellpadding="0" align="center" style="background: #FFFFFF; border: 0px none; border-collapse: collapse; border-spacing: 0px; margin: 0px; padding: 0px" bgcolor="#FFFFFF">
		<tbody>
			<tr align="center" style="border: 0px none; border-collapse: collapse; border-spacing: 0px">
				<td valign="top" align="center" style="border: 0px none; border-collapse: collapse; border-spacing: 0px">
					<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border: 0px none; border-collapse: collapse; border-spacing: 0px; margin: 0px; padding: 0px">
						<tbody>
								<tr align="left" style="border: 0px none; border-collapse: collapse; border-spacing: 0px">
									<td width="100%">
										<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0px none; border-collapse: collapse; border-spacing: 0px; margin-top: 0px !important; padding-top: 0px !important">
											<tbody>
												<tr align="left" style="border: 0px none; border-collapse: collapse; border-spacing: 0px">
													<td width="100%">
														<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0px none; border-collapse: collapse; border-spacing: 0px; margin-top: 0px !important; padding-top: 0px !important">
															<tbody>
																<tr style="border: 0; border-collapse: collapse; border-spacing: 0px; height: 50px"><td width="100%" valign="top" height="50" align="left" style="background: #FFFFFF; font-size: 1px; line-height: 1px" bgcolor="#FFFFFF"> </td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
		</tbody>
	</table>
</div>
<table align="center" cellpadding="0" cellspacing="0" width="100%" style="background: #FFFFFF; border: 0; border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; padding: 0px 0 0" bgcolor="#FFFFFF"><tr align="center" style="border: 0; border-collapse: collapse; border-spacing: 0">
						<td align="center" valign="top" style="border: 0; border-collapse: collapse; border-spacing: 0">
									
<div class="mi-all" style="display: block"><table width="600" class="mi-all" align="center" cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; display: block; margin: 0px 0 0; min-width: 600px; padding: 0px 0 0"><tbody><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 600px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-ae4e44a8be29773b3d3bc518489f6ce3c25bb269.jpg', :style => "border: 0; display: block; height: 159px; line-height: 0px; max-height: 159px; max-width: 160px; min-height: 159px; min-width: 160px; width: 160px")%>

</td><td align="left" valign="top"><table align="center" cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; min-width: 276px; padding: 0px 0 0"><tbody><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 276px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-061532f273678d044b44fb8e8925a4429f829e8b.jpg', :style => "border: 0; display: block; height: 17px; line-height: 0px; max-height: 17px; max-width: 276px; min-height: 17px; min-width: 276px; width: 276px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 276px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-d8280e229c60d95a55af8b75d9453a6aab325697.jpg', :style => "border: 0; display: block; height: 99px; line-height: 0px; max-height: 99px; max-width: 73px; min-height: 99px; min-width: 73px; width: 73px")%>

</td><td align="left" valign="top" style="background: #27B1E2; line-height: 0px; mso-line-height-rule: exactly" bgcolor="#27B1E2"><a href="http://soulcookies.co/" target="_blank" style="border: none; color: #F04500 !important; display: block; font-size: 10px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-decoration: none; text-shadow: none">

<%=image_url('/email/images/image-6230e1703f8e79f1117923de133856b799f70088.jpg', :style => "border: 0; color: #FFFFFF !important; display: block; height: 99px; line-height: 0px; max-height: 99px; max-width: 129px; min-height: 99px; min-width: 129px; width: 129px")%>

</a></td><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-335bd7a2fa7a687f09d6d97b33f22baea5cdd9b0.jpg', :style => "border: 0; display: block; height: 99px; line-height: 0px; max-height: 99px; max-width: 74px; min-height: 99px; min-width: 74px; width: 74px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 276px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-7f0e8f27f82bf5906a8378f67c034c8ee2ad63b2.jpg', :style => "border: 0; display: block; height: 43px; line-height: 0px; max-height: 43px; max-width: 276px; min-height: 43px; min-width: 276px; width: 276px")%>

</td></tr></tbody></table></td></tr></tbody></table></td><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-94a6475c400e7bddf674b7d39dc6967747b5376e.jpg', :style => "border: 0; display: block; height: 159px; line-height: 0px; max-height: 159px; max-width: 78px; min-height: 159px; min-width: 78px; width: 78px")%>

</td><td align="left" valign="top"><table align="center" cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; min-width: 35px; padding: 0px 0 0"><tbody><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 35px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-2b4417b5cb9992e1458848ae8c5467607a79dc40.jpg', :style => "border: 0; display: block; height: 17px; line-height: 0px; max-height: 17px; max-width: 35px; min-height: 17px; min-width: 35px; width: 35px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="background: #27B1E2; border: 0; border-collapse: collapse; border-spacing: 0" bgcolor="#27B1E2"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 35px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="background: #27B1E2; line-height: 0px; mso-line-height-rule: exactly" bgcolor="#27B1E2"><a href="https://www.facebook.com/soulcookies/" target="_blank" style="border: none; color: #F04500 !important; display: block; font-size: 10px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-decoration: none; text-shadow: none">

<%=image_url('/email/images/image-8ddfb5b16d976d0d1fdc5b66d69f83906bd515ad.jpg', :style => "border: 0; color: #FFFFFF !important; display: block; height: 36px; line-height: 0px; max-height: 36px; max-width: 35px; min-height: 36px; min-width: 35px; width: 35px")%>

</a></td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 35px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-2a194e1d17e2179e865bce35b4d02d306e26bcec.jpg', :style => "border: 0; display: block; height: 106px; line-height: 0px; max-height: 106px; max-width: 35px; min-height: 106px; min-width: 35px; width: 35px")%>

</td></tr></tbody></table></td></tr></tbody></table></td><td align="left" valign="top"><table align="center" cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; min-width: 34px; padding: 0px 0 0"><tbody><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 34px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-2fdb0f7fb62cb18cf2e0c2f2927213c97008c60e.jpg', :style => "border: 0; display: block; height: 17px; line-height: 0px; max-height: 17px; max-width: 34px; min-height: 17px; min-width: 34px; width: 34px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="background: #27B1E2; border: 0; border-collapse: collapse; border-spacing: 0" bgcolor="#27B1E2"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 34px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="background: #27B1E2; line-height: 0px; mso-line-height-rule: exactly" bgcolor="#27B1E2"><a href="https://www.instagram.com/soulcookies/" target="_blank" style="border: none; color: #F04500 !important; display: block; font-size: 10px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-decoration: none; text-shadow: none">

<%=image_url('/email/images/image-84299f04becf483757c12fbce7b3955cc8addf63.jpg', :style => "border: 0; color: #FFFFFF !important; display: block; height: 35px; line-height: 0px; max-height: 35px; max-width: 34px; min-height: 35px; min-width: 34px; width: 34px")%>

</a></td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 34px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-4e21fd25712cdcc3abbc8e4baee5977f9d4db30a.jpg', :style => "border: 0; display: block; height: 107px; line-height: 0px; max-height: 107px; max-width: 34px; min-height: 107px; min-width: 34px; width: 34px")%>

</td></tr></tbody></table></td></tr></tbody></table></td><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-b15349943664a349f48d52133c41d8bb5f125d21.jpg', :style => "border: 0; display: block; height: 159px; line-height: 0px; max-height: 159px; max-width: 17px; min-height: 159px; min-width: 17px; width: 17px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 600px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-4d688cb936565bc0a8104db2bd52a220f817acc8.jpg', :style => "border: 0; display: block; height: 138px; line-height: 0px; max-height: 138px; max-width: 160px; min-height: 138px; min-width: 160px; width: 160px")%>

</td><td width="276" align="left" valign="top" height="138"><div style="height: 137px; max-height: 137px; max-width: 275px; overflow: hidden; width: 275px"><p style="color: #434C4F !important; font-family: Arial; font-size: 11px; font-style: normal; line-height: 20px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-shadow: none"><span class="p_color_span_wrapper" style="color: #434C4F">¡Hola <%=@order.first_name%>!</span></p><p style="color: #434C4F !important; font-family: Arial; font-size: 11px; font-style: normal; line-height: 20px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-shadow: none"><span class="p_color_span_wrapper" style="color: #434C4F">Desafortunadamente tu orden número <%=@order.number%> ha sido rechazada. Por favor comunícate con nosotros.</span></p><p style="color: #434C4F !important; font-family: Arial; font-size: 11px; font-style: normal; line-height: 20px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-shadow: none"><span class="p_color_span_wrapper" style="color: #434C4F">¡Gracias!</span></p><p style="color: #434C4F !important; font-family: Arial; font-size: 11px; font-style: normal; line-height: 20px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-shadow: none"><span class="p_color_span_wrapper" style="color: #434C4F"><%=Shoppe.settings.store_name%></span></p><p style="color: #434C4F !important; font-family: Arial; font-size: 11px; font-style: normal; line-height: 20px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-shadow: none"><span class="p_color_span_wrapper" style="color: #434C4F"><a title="Email contacto" href="mailto:" target="_blank" style="color: #F04500 !important;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-decoration: initial; text-shadow: none"><span class="a_color_span_wrapper" style="color: #F04500"><%=Shoppe.settings.email_address%></span></a></span></p></div></td><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-b2ef3c2ea1812fc50ff701c290a16b91a82f89be.jpg', :style => "border: 0; display: block; height: 138px; line-height: 0px; max-height: 138px; max-width: 164px; min-height: 138px; min-width: 164px; width: 164px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 600px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">

<%=image_url('/email/images/image-99f3975cd6aa6fe29bdf619848d1b26f2a060b70.jpg', :style => "border: 0; display: block; height: 191px; line-height: 0px; max-height: 191px; max-width: 160px; min-height: 191px; min-width: 160px; width: 160px")%>

</td><td align="left" valign="top"><table align="center" cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin: 0px 0 0; min-width: 276px; padding: 0px 0 0"><tbody><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 276px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-636f3683dc3cfac109818e2f65372ea56fabe1ea.jpg', :style => "border: 0; display: block; height: 173px; line-height: 0px; max-height: 173px; max-width: 276px; min-height: 173px; min-width: 276px; width: 276px")%>

</td></tr></tbody></table></td></tr><tr align="left" style="border: 0; border-collapse: collapse; border-spacing: 0"><td><table cellspacing="0" cellpadding="0" border="0" style="border: 0; border-collapse: collapse; border-spacing: 0; margin-top: 0px !important; min-width: 276px; padding-top: 0px !important"><tbody><tr style="border: 0; border-collapse: collapse; border-spacing: 0"><td width="276" align="left" valign="top" height="18"><div style="height: 17px; max-height: 17px; max-width: 275px; overflow: hidden; width: 275px"><p class="etxto-peque" style="color: #748184 !important; font-family: sans-serif; font-size: 10px; font-style: normal; line-height: 13px;  margin-top:0; padding-top:0; margin-right:0; padding-right:0; margin-bottom:0; padding-bottom:0; margin-left:0; padding-left:0;  text-align: center; text-shadow: none" align="center"><span class="etxto-peque_color_span_wrapper" style="color: #748184">Soul Cookies 2016 Todos los derechos reservados.</span></p></div></td></tr></tbody></table></td></tr></tbody></table></td><td align="left" valign="top" style="line-height: 0px; mso-line-height-rule: exactly">


<%=image_url('/email/images/image-a3274d5ce1fad2134316b7ac1ea70cb807c9ed62.jpg', :style => "border: 0; display: block; height: 191px; line-height: 0px; max-height: 191px; max-width: 164px; min-height: 191px; min-width: 164px; width: 164px")%>

</td></tr></tbody></table></td></tr></tbody></table></div>


						</td>
					</tr>
			</table>

			

			<div style="display: none; font: 15px courier; white-space: nowrap">
			                      
			                      
			               
			</div>
  </body>
